<div id="header-strip">
  <h1>My Polygon</h1>
</div>
<div id="map"></div>

<div id="sidebar">
</div>

<hr />

<form action="http://localhost:3000/workspaces/from_file" enctype="multipart/form-data" method="post">
  <input type="file" name="file" />
  <input type="submit" />
</form>
