<div id="header-strip">
  <h1><span>my</span>polygon</h1>
</div>

<div class="container">
	
<div id="search">
	<form>
		<input type="text"></input>
	</form>
</div>	
<div id="map"></div>
<div id="sidebar"></div>

</div>
