<h1>My Polygon</h1>

<div id="map" style="width:400px;height:300px"></div>

<div id="side-panel">
  <input id="add-polygon-btn" class="btn" type="submit" value="Add polygon" />
  <div id="area-stats"></div>
</div>
