<h1>My Polygon</h1>

<div id="map" style="width:400px;height:300px"></div>

<div id="side-panel">
  <input id="add-polygon-btn" class="btn" type="submit" value="Add polygon" />
  <div id="area-stats"></div>
</div>

<hr />

<form action="http://localhost:3000/workspaces/from_file" enctype="multipart/form-data" method="post">
  <input type="file" name="file" />
  <input type="submit" />
</form>
