<div id="header-strip"></div>

<div class="static-content">
  <h1><span>my</span>polygon</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et
  euismod dolor, eget elementum arcu. Morbi pharetra diam at nisi
  gravida interdum. Aenean vestibulum cursus urna. In sit amet leo ut
  nisl viverra ultrices. Nulla quis cursus quam. Curabitur at eleifend
  nibh, sit amet bibendum dui. Vestibulum porta, mi at rutrum interdum,
  est ante convallis tortor, vitae aliquam risus erat et odio.</p>
</div>
