<div id="header-strip"></div>

<div class="static-content">
  <h1><span>my</span>polygon</h1>

  <p><strong>Terms and Conditions of Use of the World Database on Protected
Areas</strong></p>

  <p>1. INTRODUCTION</p>

  <p>Access to WDPA Data and any other content within the WDPA (the "WDPA
Materials") is provided on the understanding that you read and consent to be
bound to the Terms and Conditions set out below. For the purposes of this
Agreement WDPA Data comprise all the spatial data and associated attribute data
contained within the WDPA.</p> <p>PLEASE READ THESE TERMS AND CONDITIONS
CAREFULLY. IF YOU DO NOT AGREE TO ANY OF THE TERMS AND CONDITIONS DO NOT
DOWNLOAD. BY DOWNLOADING THE WDPA MATERIALS YOU ACCEPT AND AGREE TO COMPLY WITH
THE TERMS AND CONDITIONS BELOW</p>

  <p>2. NO COMMERCIAL USE</p>

  <p>Neither (a) the WDPA Materials nor (b) any work derived from or based upon
the WDPA Materials ("Derivative Works") may be put to Commercial Use without
the prior written permission of UNEP-WCMC. For the purposes of these Terms and
Conditions, "Commercial Use" means a) any use for profit or to generate
revenue, or b) any use by an individual or entity operating within or on behalf
of or to the benefit of or to assist the activities of any entity other than a
not-for-profit organisation. To apply for permission for Commercial Use of the
WDPA Materials please send an email to wdpacommercial@unep-wcmc.org outlining
your needs.</p>

  <p>3. NO SUB-LICENSING OR REDISTRIBUTION OF WDPA DATA</p>

  <p>The WDPA Materials may not be sub-licensed in whole or in part including
within Derivative Works without the prior written permission of UNEP-WCMC. You
may not redistribute the WDPA Data contained in the WDPA in whole or in part by
any means including (but not limited to) electronic formats such as web
downloads, through web services, through interactive web maps that grant users
download access, KML Files or through file transfer protocols. If you know of
others who wish to use the WDPA Data please refer them to this website. If you
wish to provide a service through which the WDPA Data are downloadable or
otherwise made available for redistribution you must contact
protectedareas@unep-wcmc.org for permission and further guidance.</p>

  <p>4. PUBLISHING THE WDPA</p>

  <p>You may publish the WDPA Materials in whole or in part, including on-line,
providing (a) the WDPA Data are not downloadable and (b) the proper attribution
is clearly visible (see clause 5 below). You must ensure that the most recently
available version of the WDPA Materials is being used and that the year of
release is visible in the published version. WDPA Materials published online
must provide a clear link to the original WDPA (www.wdpa.org). We strongly
recommend that you have the relevant materials reviewed by UNEP-WCMC and/or the
IUCN-WCPA prior to publication. We require two free copies of all published
materials to be provided to UNEP-WCMC and IUCN-WCPA. Hard copies should be sent
to Protected Areas Programme, UNEP-WMC, 219 Huntingdon Road, Cambridge CB3 0DL,
UK. Electronic copies should be sent to protectedareas@unep-wcmc.org.</p>

  <p>5. ATTRIBUTION</p>

  <p>You must ensure that one or other of the citations set out below is always
clearly reproduced in any publication or analysis involving the WDPA Materials
in any derived form or format:</p> <pre><code>IUCN and UNEP. 2009. The World
Database on Protected Areas (WDPA). UNEP-WCMC. Cambridge, UK.  Protected areas
extracted from the [insert date of latest release] World Database on Protected
Areas (WDPA). The WDPA is a joint product of IUCN and UNEP prepared by
UNEP-WCMC and the IUCN- WCPA working with Governments, the Secretariats of
Multilateral Environmental Agreements, collaborating Non-Government
Organizations and individuals. For further information go to www.wdpa.org or
contact: protectedareas@unep-wcmc.org.  </code></pre>

  <p>6. WDPA UPDATES</p>

  <p>Unless required to do so for specific analyses, you should not use any
version of the WDPA Materials after it has been superseded by a subsequent
version. It is your responsibility to check if an update of the WDPA Materials
is available.</p>

  <p>7. NO WARRANTY AND WAIVER OF LIABILITY</p>

  <p>The WDPA is provided to you 'as is', and no warranty of any kind is given
as to its completeness or accuracy, nor do we make any commitment to ensure
that the WDPA Materials are kept up to date. All warranties, representations
and conditions, express or implied, are hereby excluded to the fullest extent
permitted by law. You agree that you download and make use of the WDPA
Materials entirely at your own risk. You hereby waive and release UNEP-WCMC,
UNEP, IUCN, WCMC and any and all third party providers of WDPA data from any
liability whatsoever, wherever and howsoever arising in connection with any use
of the WDPA. You agree that this waiver and release is effective in any and
every jurisdiction in the world. You agree that UNEP, IUCN, WCMC and any and
all third party providers of WDPA data will not be liable on any grounds
(including without limitation negligence, strict liability or under any other
legal theory) for any loss or damage (direct or indirect) incurred by you or
any third party as a result of the use by you or any third party of the WDPA
Materials or any Derivative Works. You also agree to indemnify and hold
harmless UNEP, IUCN, WCMC and any and all third party providers of WDPA data in
respect of any loss or damage (direct or indirect) suffered by any third party
as a result of any use by that third party of any WDPA Materials or Derivative
Works published by you. Without limitation to the above, any damage occurring
to computer systems as a result of attempts to download WDPA data is entirely
your own responsibility.</p>

  <p>8. DISCLAIMER ON FRONTIERS, NATIONAL BOUNDARIES</p>

  <p>The geographic designations in the WDPA do not represent an opinion by
UNEP, IUCN or WCMC 2000 concerning the legal status of any country, territory
or area, or concerning the delimitation of its frontiers or barriers.</p>

  <p>9. FEEDBACK AND REVISED INFORMATION</p>

  <p>In order to keep the WDPA up to date, UNEP and IUCN would like you to
provide feedback on the quality, reliability and accuracy of the WDPA
Materials. We also welcome revised information on the WDPA in the form of GIS
data, maps, tables, GPS coordinates or any other useable format. Such
contributions should be free of restrictions. The objective is to improve the
WDPA content for the benefit of the global conservation community. You can
register to submit electronic protected area data via the WDPA website.</p>

  <p>10. NO GRANT OF INTELLECTUAL PROPERTY RIGHTS</p>

  <p>No rights in the WDPA Materials are granted to you by virtue of these
Terms and Conditions or as a result of any use by you of the WDPA Materials.
Neither UNEP-WCMC nor IUCN assert any intellectual property rights in the data
that is made available by third party data providers for inclusion in the WDPA.
However, all intellectual property rights in the design and construction of the
WDPA website and database are the property of UNEP and IUCN.</p>

  <p>11. DISPUTE RESOLUTION, LAW AND JURISDICTION</p>

  <p>These Terms and Conditions shall be governed by and construed in
accordance with English law. Any dispute arising out of or in connection with
this download and the subsequent use of the WDPA shall be settled by amicable
negotiation between you and UNEP-WCMC. Should attempts at amicable negotiation
fail, any such dispute shall, upon request by either you or UNEP-WCMC, be
referred to arbitration in accordance with the UNCITRAL arbitration rules then
prevailing.</p>

  <p>12. COMMUNICATION</p>

  <p>Any communication with respect to these Terms and Conditions and any issue
arising from them shall be in writing, in English, and sent by email. The
address for communication with the WDPA supplier is
protectedareas@unep-wcmc.org.</p>

  <p>13. CHANGES TO THESE TERMS AND CONDITIONS</p>

  <p>UNEP-WCMC reserves the right to vary these Terms and Conditions from time
to time without notice. Therefore please ensure that you read these Terms and
Conditions each time you download WDPA Materials. By downloading WDPA Materials
you signify your acceptance of the most recent version of these Terms and
Conditions in full.</p> </div>
