<button class="btn btn-primary" id="add-polygon">
<% if (area.polygons.length > 0) { %>
  Draw another polygon
<% } else { %>
  Draw a polygon
<% } %>
</button>

<% if (area.polygons.length > 0) { %>
  <h3>Stats</h3>
  <div id="area-stats">
    <ul id="poly-stat-list">
      <% if (area.get('results') != undefined) { %>
        <% _.each(area.get('results'), function(stat, i) { %>
          <li>
            <%= stat.display_name %>
            <span class="result">
              <span class="value"><%= stat.value %></span>
              <span class="unit"><%= stat.unit %></span>
            </span>
          </li>
        <% }); %>
      <% } %>
    </ul>
  </div>
<% } %>
<% if (area.polygons.length > 0) { %>
  <div class="footer hidden">
    <button type="button" class="btn btn-primary" id="export">Export your report</button>
  </div>
<% } %>
