<ul class="sidebar-tabs">
  <% for (var i=0; i < areas.length; i++) { %>
    <li <% if (areas[i] == currentArea) { %> class="active" <% } %>>
      <a data-area-id="<%= i %>" class="tab"><%= (areas[i].get('name').length > 7 ? areas[i].get('name').substr(0,6) + '...' : areas[i].get('name')) %></a>
      <input type="text" value="<%= areas[i].get('name') %>" style="display: none" />
    </li>
  <% } %>

  <% if (areas.length < 3) { %>
    <li><a href="#" id="add-area">+</a></li>
  <% } %>
</ul>

<div id="area-tabs" class="tab-content">
</div>

<div class="logos">
  <a href="http://protectedplanet.net"><img src='/assets/protected-planet-logo.png' /></a>
  <a href="http://www.proteuspartners.org"><img src='/assets/proteus-logo.png' style="margin-bottom: 8px;" /></a>
</div>
