<h2>Upload a SHP file</h2>
<form id="workspace-file" action="<%= magpieUrl %>/workspaces/from_file" enctype="multipart/form-data" method="post">
  <div class="fields">
    <label>SHP file</label>
    <input type="file" name="file" />
  </div>
  <input type="submit" value="Upload"/>
</form>
