<h2>Upload a SHP file</h2>
<form action="http://localhost:3000/workspaces/from_file" enctype="multipart/form-data" method="post">
  <input type="file" name="file" />
  <input type="submit" />
</form>
