// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #EEEEEE;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;
  padding: 0;
  margin: 0;
}

#header-strip {
  padding: 7px 10px;
  height: 100px;
  position: relative;
  background-image: url("bar-bg.png");
  background-repeat: repeat-x;

  h1 {
    position:absolute;
    top: 55px;
    font-family: "Oxygen", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #005c87;
    display: inline;
    text-shadow: 0 1px #ffffff;
    text-decoration: none;
    margin: 16px;

    span {
      font-weight: 700;
    }
  }
}

#search {
  position: absolute;
  top: 121px;
  left: 0;
  right: 340px;
  z-index: 10;

  form {
    position: relative;
    margin: 0 auto;
    width: 400px;
    min-width: 100px;
    padding: 0 10px 7px 10px;
    background: #EEEEEE;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    #query{
      background: #fff;
      width: 329px;
      padding: 5px;

      &.placeholder {
        color: #a9a9a9;
      }
    }

    #search-submit{
      padding: 0;
      margin: 0;
    }
  }
}

@media (max-width: 750px) {
  #search{
    display: none
  }
}

#map {
  position: absolute;
  top: 121px;
  bottom: 0;
  left: 0;
  right: 340px;
}

#sidebar {
  width: 326px;
  float:right;
  padding: 7px;
  color: #333;
  font: normal 17px Arial;
  line-height: 23px;
}

.btn {
  border-radius: 3px;
  border: 0;
  background-color: #069;
  font: bold 15px Arial;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;

  background-image: linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
}

.btn:hover {
  background-image: linear-gradient(bottom, rgb(0,91,136) 12%, rgb(0,83,124) 67%, rgb(0,74,114) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,91,136) 12%, rgb(0,83,124) 67%, rgb(0,74,114) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,91,136) 12%, rgb(0,83,124) 67%, rgb(0,74,114) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,91,136) 12%, rgb(0,83,124) 67%, rgb(0,74,114) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,91,136) 12%, rgb(0,83,124) 67%, rgb(0,74,114) 100%);
}

.btn.btn-large {
  margin: 15px auto;
  display: block;
  width: 150px;
  text-align: center;
  padding: 8px 33px;
  font-size: 20px;
}

.sidebar-tabs {
  overflow: visible;
  margin: 0;
  padding-left: 0;
  height: 37px;

  li {
    list-style-type: none;
    float:left;
    padding: 7px;
    font-weight: bold;
    margin-top: 1px;

    &.active {
      background: white;
      border: 1px solid #CCC;
      border-bottom: 0px;
      margin-top: 0;
      a {
        color: #333;
      }
    }
  }

  a {
    color: #666;
    text-decoration: none;
  }

  input {
    border: 0;
    max-width: 90px;
  }
}

.sidebar-tabs li.active{
  background: white;
  border: 1px solid #CCC;
  border-bottom: 0px;
  margin-top: 0;

  a {
    color: #333;
  }
}

.tab-content {
  background: white;
  border: 1px solid #CCC;
  padding: 7px;
  position: absolute;
  right: 6px;
  bottom: 7px;
  top: 158px;
  z-index: -1;
  width: 311px;

  .footer {
    bottom: 10px;
    position: absolute;
  }
}

#add-polygon,
#add-circle,
#upload-file {
  margin: 10px 3px 10px 3px;
  float: left;
  font-weight: normal;
  font-size: 12px;
  display: block;
}

#poly-stat-list {
  margin: 20px 0 5px 0;
  padding-left: 0;
  border-top: 2px solid #005c87;
  width: 100%;
  float: left;

  li {
    overflow:hidden;
    font-size: 13px;
    padding: 3px 0px;
    margin: 0;

    .result {
      float:right;

      .error {
        font-weight: bold;
        color: red;
      }

      .value {
        font-weight: bold;
        font-size: 20px;
      }

      .unit {
        font-size: 10px;
        font-weight: bold;
      }
    }
  }

  li:first-child{
    border-bottom: 1px dotted #ccc;
  }
}

#polygon-list {
  position: absolute;
  bottom: 50px;
  top: 124px;
  overflow: scroll;
  padding: 0;
  width: 312px;
  list-style-type: none;
  font-size: 12px;
  border-top: 2px solid #005c87;

  > li {
    padding: 5px ;
  }

  > li:nth-child(odd) {
    background-color: #EEEEEE;
  }

  h3 {
    margin: 0;
    font-size: 12px;

    span {
      float: right;
      color: #005b88;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    span a:before {
      content: "Less Details";
    }

    &.hide {
      span a:before {
        content: "More Details";
      }
    }
  }


  p {
    line-height: 1.2em;
    margin: 0;
  }

  .aoi-details.hide {
    display:none;
  }
}

.protected-area-details {
  list-style-type: none;
  background-color: #F6F6F6;
  font-size: 10px;
  padding: 0;
  margin: 4px 0 0 0;
  color: #333;

  li{
    border: 1px solid #ccc;
    padding: 0 0 5px;
    margin: 0;
  }

  h4 {
    font-size: 10px;
    padding: 0 0 0 2px;
    margin: 0;
    background: #ccc;
  }

  a {
    color: #02537a;
    font-size: 10px;
    padding: 0 14px 0 5px;
    font-weight: bold;
    text-decoration: none;
    background: url("external.png") right no-repeat;
  }

  p {
    margin:  0;
    padding: 0 0 0 5px;
    font-size: 10px;
  }

  table {
    margin: 10px 0 10px 5px;
    border-collapse: collapse;

    td,th {
      padding: 5px;
    }

    th {
      background-color: #DDDDDD;
      padding: 5px 3px;
      border-right: 1px solid #F6F6F6;
      font-weight: normal;
      font-size: 12px;
    }

    td {
      border: 1px solid #DDDDDD;
      border-right: 0;
      font-weight: bold;
      font-size: 18px;

      span {
        font-weight: normal;
        font-size: 16px;
      }
    }

    td:first-child {
      border-left: 0;
    }
  }
}

form {
  .fields {
    overflow: hidden;

    label {
      float:left;
    }

    input {
      float:right;
    }
  }
}

.loading {
  display:none;
  position: absolute;
  top: 250px;
  right: 160px;
}
