// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #EEEEEE;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;
  padding: 0;
  margin: 0;
}

#header-strip {
  padding:  7px 10px;
  border-bottom: 1px solid #444;

  background-image: linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.12, rgb(0,74,114)),
    color-stop(0.67, rgb(0,83,124)),
    color-stop(1, rgb(0,91,136))
  );

  h1 {
    font: normal 20px "Lucida Grande", Arial;
    color: white;
    text-shadow: 0 -1px #00324C;
    text-decoration: none;
    margin: 0;
  }
}

#map {
  position: absolute;
  top: 38px;
  bottom: 0;
  left: 0;
  right: 340px;
}

#sidebar {
  width: 326px;
  float:right;
  padding: 7px;
  color: #666;
  font: normal 17px Arial;
  line-height: 23px;
}

.btn {
  border-radius: 3px;
  border: 0;
  background-color: #069;
  font: bold 15px Arial;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;

  background-image: linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,74,114) 12%, rgb(0,83,124) 67%, rgb(0,91,136) 100%);
}
.btn:hover {
  background-image: linear-gradient(bottom, rgb(0,91,136) 12%, rgb(0,83,124) 67%, rgb(0,74,114) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,91,136) 12%, rgb(0,83,124) 67%, rgb(0,74,114) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,91,136) 12%, rgb(0,83,124) 67%, rgb(0,74,114) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,91,136) 12%, rgb(0,83,124) 67%, rgb(0,74,114) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,91,136) 12%, rgb(0,83,124) 67%, rgb(0,74,114) 100%);
}

.btn.btn-large {
  margin: 15px auto;
  display: block;
  width: 150px;
  text-align: center;
  padding: 8px 33px;
  font-size: 20px;
}

.sidebar-tabs {
  overflow: visible;
  margin: 0;
  padding-left: 0;
  height: 37px;
}

.sidebar-tabs li{
  list-style-type: none;
  float:left;
  padding: 7px;
  font-weight: bold;
  margin-top: 1px;
}
.sidebar-tabs li a{
  color: #666;
  text-decoration: none;
}

.sidebar-tabs li.active{
  background: white;
  border: 1px solid #CCC;
  border-bottom: 0px;
  margin-top: 0;
  a {
    color: #333;
  }
}

.tab-content {
  background: white;
  border: 1px solid #CCC;
  padding: 7px;
  position: absolute;
  right: 6px;
  bottom: 7px;
  top: 82px;
  z-index: -1;
  width: 311px;

  .footer {
    bottom: 10px;
    position: absolute;
  }
}

.area-show {
  h3.stat-header {
    color: black;
    font-weight: normal;
    span.result {
      font-weight:bold;
      float: right;
    }
  }
}
#add-polygon,
#add-circle  {
  margin: 10px auto;
  display: block;
}

#poly-stat-list {
  margin: 5px 0;
  padding-left: 0;

  li {
    overflow:hidden;
    font-size: 14px;
    padding: 3px 7px;

    .result {
      float:right;
      .value {
        font-weight: bold;
        font-size: 20px;
      }
      .unit {
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
  li:nth-child(odd) {
    background-color: #EBEBEB;
  }
}
#polygon-list {
  position: absolute;
  bottom: 50px;
  top: 200px;
  overflow: scroll;
  border: 1px solid #CCC;
  width: 270px;
}
.protected-area-details {
  list-style-type: none;
  padding-left: 0;

  h4 {
    a {
      color: #005A79;
      text-decoration: none;
    }
    font-size: 18px;
    margin-bottom: 5px;
  }
  p {
    margin:  3px 0;
    font-size: 14px;
  }
  table {
    border-collapse: collapse;
    td,th {
      padding: 3px;
    }
    th {
      background-color: #DDDDDD;
      padding: 5px 3px;
      border: 1px solid #FFF;
      font-weight: normal;
      font-size: 14px;
    }
    td {
      border: 1px solid #DDDDDD;
      font-weight: bold;
      font-size: 24px;
      span {
        font-weight: normal;
        font-size: 16px;
      }
    }
  }
}

form {
  .fields {
    overflow: hidden;
    label {
      float:left;
    }
    input {
      float:right;
    }
  }
}